<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('.static', filename='style_login.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login</title>
</head>
<body>
	<div class = "navbar"> 
		<span>
		<a href={{url_for('logout')}}>Logout</a>
		<a href={{url_for('login')}}>Login/Sign Up</a>
		<a href={{url_for('home')}}>Home</a>
		</span>
	</div>
	<div class = "blog">
		<div class = "blog-content" style = "padding: 0px 30px;">
			<h1 style="border: solid;">
				Blog title
			</h1>
			<br>
			<p>
				lorem ipsum
			</p>
		</div>
		
	</div>
</body>
</html>