<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "{{url_for('.static', filename='style_login.css')}}">
	<title>Feed</title>
	<link rel = "icon" type = "image/png" href = "{{logo_path}}">
</head>
<body>
	<div class = "navbar"> 

		<a href={{url_for('logout')}}>Logout</a>
		<a href={{url_for('login')}}>Login/Sign Up</a>
		<a href={{url_for('home')}}>Home</a>

		<div class = "logo-div">
		<img src = "{{logo_path}}" alt = "broken:(" class="logo"/>
		</div>
		
	</div>
	<div class = "megabooga">
		<div class = "blog">
			<div class = "blog-content">
				<div style = "padding-top: 18px;">
				<a class="button_login" href={{ url_for('blog' , blogID = id) }} style="padding: 15px 15px; font-size: 60px; width: fit-content; display: inline-block; margin-bottom: 10px;">
					{{titl}}
				</a>
				<a href={{ url_for('profile' , name = author) }} style="display: inline; font-size: 30px;"> {{author}} </a>
				</div>
				<hr size="2" width = "98%" color = "black" >
				<p style="font-size: 35px;">
					{{dets}}
				</p>
			</div>
		</div>
	</div>
</body>
</html>