<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('.static', filename='style_login.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login</title>
</head>
<body>
	<div class = "navbar"> 
		<span>
		<a href={{url_for('logout')}}>Logout</a>
		<a href={{url_for('login')}}>Login/Sign Up</a>
		<a href={{url_for('home')}}>Home</a>
		</span>
	</div>
	<div class = "megabooga">
		<div class = "blog">
			<div class = "blog-content">
				
				<h1 class="button_login" style="padding: 10px 10px; font-size: 30px; width: fit-content; display: inline-block;">
					Blog title
				</h1>
				<p style="display: inline;"> author </p>

				<p>
					sum lorem ipsum lorem ipsum 
				</p>
			</div>
		</div>
		<div class = "blog">
			<div class = "blog-content">
				<h1 class="button_login" style="padding: 10px 10px; font-size: 30px; width: fit-content; display: inline-block;">
					Blog title
				</h1>
				<p style="display: inline;"> author </p>
				<p>
					lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
				</p>
			</div>
		</div>
		<div class = "blog">
			<div class = "blog-content">
				<div style = "padding-top: 18px;">
				<h1 class="button_login" style="padding: 10px 10px; font-size: 30px; width: fit-content; display: inline-block; margin: 0;">
					Blog title
				</h1>
				<a style="display: inline; margin: 0;"> author </a>
				</div>
				<hr size="2" width = "98%" color = "black" >
				<p>
					lorem ipsum losum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
				</p>
			</div>
		</div>
		<div class = "blog">
			<div class = "blog-content">
				<h1 class="button_login" style="padding: 10px 10px; font-size: 30px; width: fit-content; display: inline-block;">
					Blog title
				</h1>
				<p style="display: inline;"> author </p>
				<p>
					lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum loreipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
				</p>
			</div>
		</div>
	</div>
</body>
</html>