<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="{{url_for('.static', filename='style_login.css')}}">
	<title>Logout</title>

</head>

<body>

	<div class = "navbar"> 

		<a href={{url_for('logout')}}>Logout</a>
		<a href={{url_for('login')}}>Login/Sign Up</a>
		<a href={{url_for('home')}}>Home</a>
		
		<div class = "logo-div">
		<img src = "{{logo_path}}" alt = "y u see this smh" class="logo"/>
		</div>

	</div>

	<div class="container" id="container" style="width: 55vh;">

		<div class="form-container" style="position: absolute; left: 15%; width: 70%;">
			<form action="" method = "post" style="padding: 0;">

				<h1 style="font-size: 35px;">You are logged in as {{username}}</h1>

				<input class = "button_login" type="submit" name = "logout" value="Logout">

			</form>
		</div>

	</div>

</body>

</html>